/* Full page */
.auth-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f7fa;
}

/* Main card */
.login-page {
  display: flex;
  width: 900px;
  max-width: 95%;
  min-height: 550px;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

/* Left side */
.login-left {
  flex: 1;
  background: #16a34a;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

.login-left h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.login-left p {
  font-size: 1.1rem;
}

/* Right side */
.login-right {
  flex: 1;
  padding: 50px;
}

.login-right h2 {
  margin-bottom: 10px;
}

.login-right p {
  color: #666;
  margin-bottom: 20px;
}

.login-right form {
  display: flex;
  flex-direction: column;
}

.login-right label {
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: 600;
}

.login-right input {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
}

.login-right input:focus {
  outline: none;
  border-color: #16a34a;
}

.login-right button {
  margin-top: 25px;
  padding: 14px;
  background: #16a34a;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.login-right button:hover {
  background: #15803d;
}

.login-right a {
  color: #16a34a;
  text-decoration: none;
  font-weight: bold;
}